* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Cinzel Decorative", cursive;
}

p {
  letter-spacing: 1.2px;
}

.skill-box {
  max-width: 80px;
  max-height: 60px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-img {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  transition: all 0.3s ease-in-out;
}
